{% extends 'base.html' %}

{% block title %}
Analytics
{% endblock %}

{% block content %}
<div class="box">
    <div class="">
        <h2>Sentiment</h2>
        <div id="sentimentChart"></div>
        <p>Total emails: {{ emails | length }}</p>
    </div>
</div>
<div class="box">
    <h2>Users</h2>
    <p> Total Users: {{ users | length }}</p>
</div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
    const sentimentData = {{ overallSentimentCounts | tojson }};
    const sentimentLabels = Object.keys(sentimentData);
    const sentimentValues = Object.values(sentimentData);

    const data = [{
        values: sentimentValues,
        labels: sentimentLabels,
        type: 'pie'
    }];

    const layout = {
        height: 300,
        width: 300,
        margin: {
            l: 20,
            r: 20,
            b: 20,
            t: 20,
        }
    };

    Plotly.newPlot('sentimentChart', data, layout);
</script>
{% endblock %}