<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>My Devastatingly long coursework</h1>
        </div>
    </header>

    <div class="container content">
        <div class="centered-box">
            <div class="box">
                <h1>Email Details</h1>
                <p><strong>From:</strong> {{ email.sender }}</p>
                <p><strong>Date:</strong> {{ email.date }}</p>
                <p><strong>Subject:</strong> {{ email.subject }}</p>
                <div class="email-content">
                    <p>{{ email.plain }}</p>
                </div>
                <a class="home-button" id="dashboard" href="{{ url_for('dashboard') }}">Back to Dashboard</a>
                <a class="home-button" id="dashboard" href="{{ url_for('sendEmail', recipient=email.sender) }}">Reply</a>
                <a class="home-button" id="Delete" href="{{ url_for('deleteEmail', email_id=email.id) }}">Delete Email</a>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; BloodSweatTearsDebugging</p>
        </div>
    </footer>
</body>
</html>
