{% extends 'base.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
<div class="centered-box">
    <div class="box">
        <h1>Forgot Password</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <label for="username">Username</label>
            {{ form.username }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            
            {{ form.submit }}
        </form>
        <a class="home-button" href="{{ url_for('login') }}" id="Delete">Return</a>
    </div>
</div>
{% endblock %}
