{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="box">
    <h1>Login</h1>
    
    <!-- Flash messages block -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    {% if category == 'green' %}
                        <li class="{{ category }}">[{{ message }}]</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}        
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        
        <label for="username">Username</label>
        {{ form.username }}
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        
        <label for="password">Password</label>
        {{ form.password }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        {% if category == 'danger' %}
                            <li class="{{ category }}">[{{ message }}]</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}        
        <br>
        {{ form.submit }}
    </form>

    <a href="{{ url_for('register') }}">Don't have an account? Sign up</a>
    <a href="{{ url_for('forgotPassword') }}">Forgot password? Reset here</a>
</div>
{% endblock %}
