{% extends 'base.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
<div class="centered-box">
    <div class="box">
        <h1>Forgot Password</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <label for="newPassword">New Password</label>
            {{ form.newPassword }}
            {% for error in form.newPassword.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>

            <label for="confirmPassword">Confirm Password</label>
            {{ form.confirmPassword }}
            {% for error in form.confirmPassword.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            
            {{ form.submit }}
        </form>
        <a href="{{ url_for('adminUserManagementUser', username=user.username) }}" class="home-button">Return</a>
    </div>
</div>
{% endblock %}
