{% extends 'base.html' %}

{% block title %}
User Profile
{% endblock %}

{% block content %}
<div class="centered-box">
    <div class="box">
        <h1>User Profile</h1>
        <p> Username: {{ user.username }}</p>
        <a class="home-button" href="{{ url_for('linkNew') }}">Link a different gmail</a>
        <a href="{{ url_for('dashboard') }}" class="home-button">Return</a>
        <a href="{{ url_for('deleteAccount') }}" class="home-button" id="Delete">Delete Account</a>
        
    </div>
</div>
{% endblock %}